NAME, SPET { 
    text-align: center; 
    margin: 10px; 
    margin-left: auto; 
    margin-right: auto; 
    font-size: 8vw; 
    color: #fff; 
    z-index: 99999999999999999999999999999999999999999999999999999;
    }